h1 
{
    color: darkmagenta;
    background-color: darkgrey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p
{
    font-family: 'Courier New', Courier, monospace, Helvetica, sans-serif;
}


